@{
    ViewBag.Title = "Email";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    @if (Model.email_type == 1)
    {
        <title>i-Sim活動 申請廣告合作-@Model.company_name</title>
    }
    else
    {
        <title>i-Sim活動 申請聯名合作-@Model.company_name</title>
    }
</head>
<body style="font: .8em/140% '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;">
    @if (Model.email_type == 1)
    {
        <h1 style="font-size:1.5em;">i-Sim活動 申請廣告合作-@Model.company_name</h1>
    }
    else
    {
        <h1 style="font-size:1.5em;">i-Sim活動 申請聯名合作-@Model.company_name</h1>
    }
    <table border="1" bordercolor="#ddd" style="border:1px solid #ccc">
        <caption style="background:#FCF8E3; color:#9C7163; font-size:1.2em; font-weight:bold; padding:5px; text-align:center;">
            以下為聯絡人資料
        </caption>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">公司名稱</td>
            <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.company_name</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">聯絡人姓名</td>
            <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.contact_person</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">電子郵件</td>
            <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.email</td>
        </tr>
        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">電話號碼</td>
            <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.tel</td>
        </tr>
        @if (Model.email_type == 1)
        {
            <tr>
                <td style="color:#9C7163; padding:5px; border:1px solid #ccc">業務性質(如餐飲、飾品、服裝…)</td>
                <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.occupation</td>
            </tr>
        }
        else
        {
            <tr>
                <td style="color:#9C7163; padding:5px; border:1px solid #ccc">宣傳主題</td>
                <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.theme</td>
            </tr>
        }

        <tr>
            <td style="color:#9C7163; padding:5px; border:1px solid #ccc">廣告內容</td>
            <td style="width:200px; padding:5px; border:1px solid #ccc">@Model.content</td>
        </tr>
    </table>
</body>
</html>
